@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url(./images/stretched-1920-1080-1299476.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* 


  .options-container {
    opacity: 0;
    transition: all 1s ease-in-out !important;
  }
  
  .options-visible {
    opacity: 1;
  } */
  